nav {
    background-color: #333333;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
}

nav p {
    color: white;
    margin-left: 14%;
    margin-top: 0.5rem;
}

.navlogo {
    margin-right: 5rem;
}

.navlogo>img {
    height: 1.5rem;
    width: 5rem;
}

.organisation {
    margin: auto;
}

nav>div>a {
    color: rgb(252, 252, 252);
}

nav>div>a:hover {
    color: #00629B;
    cursor: pointer;

}

nav.organisation>a:hover {
    color: #f3822c;
    cursor: pointer;
}

h1 {
    margin-left: 33%;
}

/* <-------------sections -------------> */


.section {
    background-color: #00629B;
    min-height: 3.5rem;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.expand {
    margin-left: 1rem;
    display: none;
}

.hyplinks>div>a {
    color: aliceblue;
    text-decoration: none;
}

.hyplinks>div>a:hover {
    color: rgb(4, 19, 32);
}


.hyplinks {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* <-------------abouts -------------> */

.container {
    background-color: #D9D8D4;
    align-items: center;
    margin-top: -1.2rem;
    margin-bottom: -1rem;
    align-items: center
}

;

h1 {
    margin-left: 45%;
    font-size: 2rem;
}

.container>hr {
    height: 3px;
    background-color: #00629B;
    width: 18rem;
    margin-top: -1.5rem;
}

.text-cont {
    padding-top: 1rem;
    padding: 2.5rem 8rem;
    padding-bottom: 4rem;
    font-size: 1.1rem;
    line-height: 33px;
}

.container {
    padding: 2rem;
}


/* <-------------FOOTER -------------> */

footer {
    display: flex;
    background-color: #333333;
    min-height: 4rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.19);
    align-items: center;
}

footer>p {
    color: aliceblue;
    text-align: center;
    margin: auto
}


.white {
    color: white;
}

@media (max-width : 768px) {
    nav {
        max-height: 55.5px;
        min-width: 95vw;
    }


    nav>p {
        font-size: 12px;
    }

    p {
        font-size: 15px;
        color: rgb(19, 24, 24);
    }

    .navlogo {
        margin-right: 1rem;
    }

    .navlogo>img {
        height: 1.5rem;
        width: 2rem;
    }

    .organisation>a {
        font-size: 10px;
        margin-left: 2rem;
        display: inline-block;
        justify-content: space-around;
    }

    .expand {
        display: flex;
    }

    .hyplinks {
        min-width: 90vw;
    }

    .hyplinks>div {
        display: none;
    }

    .hyplinks>div>a {
        font-size: 15px;
    }

    .heading hr {
        max-width: 8rem;
        margin-top: -0.6rem;
    }

    .heading h2 {
        font-size: 1.4rem;
    }

    footer>p {
        margin-left: 0%;
    }

    .text-cont {
        margin-left: 5%;
    }

    .ieeeLogoWhite {
        max-width: 220px;

    }

    .container>hr {
        width: 6rem;
    }
}


/* ---------- CSS for Image ---------- */

.imageContainer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainImg {
    max-width: 100%;
    object-fit: cover;
}

.ieeeLogoWhite {
    position: absolute;
    width: 450px;
    object-fit: cover;
}