

/* <-------------abouts -------------> */

.container {
    background-color: #D9D8D4;
    align-items: center;
    
    margin-bottom: -1rem;
    align-items: center;
}

#head {
    text-align: center;
    font-size: 2rem;
}

.hrule {
    height: 5px;
    background-color: #00629B;
    width: 180px;
    margin-left: 43%;
    
    
}

.text-cont {
    padding-top: 1rem;
    padding: 2.5rem 8rem;
    padding-bottom: 4rem;
    font-size: 1.1rem;
    line-height: 33px;
}

.container {
    padding: 2rem;
}

/* <-------------FOOTER -------------> */

@media (max-width : 768px) {
/* 
    .heading hr {
        max-width: 8rem;
        margin-top: -0.6rem;
    }

    .heading h2 {
        font-size: 1.4rem;
    } */

    footer>p {
        margin-left: 0%;
    }

    .text-cont {
        padding: 2rem;
        padding-top: 1rem;
        gap: 1.5rem;
    }

    #head {
        font-size: 1.5rem;
    }

    .imageContainer{
        max-width: 100%;
    }

    .mainImg {

        max-height: 45vh;
    }

    .ieeeLogoWhite {
        max-width: 220px;

    }

    .hrule {
       
        margin-left: 25%;
    }
    
}


/* ---------- CSS for Image ---------- */

.imageContainer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainImg {
    max-width: 100%;
    height: calc(100vh - 50px);
    object-fit: cover;
    
}

.ieeeLogoWhite {
    position: absolute;
    width: 450px;
    object-fit: cover;
}