.heading {
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin: 0% auto;
}

.pes_line {
    background-color: #007536;
    width: 25%;
    height: 8px;
    border-width: 0;
    margin-bottom: 3%;
    margin-top: 1.5%;
}

.contents {
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    padding: 3% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.PES-img {
    width: 35%;
    margin-bottom: 6%;
}

.pes_main-content {
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    color: #08311B;
    font-size: 1.2rem;
    padding: 2% 3%;
    line-height: 1.8rem;
}

@media (max-width: 700px) {
    .PES-img {
        width: 80% !important;
        margin-bottom: 3%;
        margin-top: 6% !important;
    }

    .pes_line {
        width: 50%;
    }

    .heading {
        text-align: center;
        margin-bottom: 2% !important;
    }
}