/* <-------------sections -------------> */

.section {
    background-color: #78BE20;
    min-height: 3.5rem;
    display: flex;
    align-items: center;

}

/* <-------------headings -------------> */

.heading {
    text-align: center;
}

.heading2 {
    font-family: 'Open Sans';
    font-size: 35px;
    padding-top: 60px;
}

.headingHr {
    height: 5px;
    background-color: #78BE20;
    /* width: 18rem; */
    width: 23vw;
    margin-top: 0.9rem;
    margin-left: 39vw;

}

/* <------------- events -------------> */

.event-container {
    font-family: "Roboto", sans-serif;
    max-width: 90%;
    margin: 1rem auto;
}

.event {
    display: grid;
    grid-template-columns: 35% 65%;
    box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
    border-radius: 8px 0px 8px 0px;
    margin: 32px 0;
}

.event-image {
    width: 100%;
    max-height: 200px;
    height: 100%;
    border-radius: 0.5rem;
}

.event .event-left .date {
    font-size: 56px;
}

.event .event-left .month {
    font-size: 16px;
    font-weight: normal;
}

.event .event-right {
    justify-content: space-between;
    flex-direction: column;
    padding: 24px;
}

.event .event-right h3.event-title {
    font-size: 24px;
    color: #218bbb;
    text-transform: uppercase;
}

.event .event-right .event-timing {
    background: #fff8ba;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 16px;
    margin: 14px 0;
    font-size: 10px;
    justify-content: flex-end;
}

.event .event-right .event-description {
    font-size: 12px;
    margin: 10px 0 20px 0;
    text-align: justify;
}

@media (max-width : 470px) {
    .headingHr {
        max-width: 8rem;
        margin-top: 0.2rem;
        margin-left: 33%;
        height: 2.5px;
        width: 30vw;
    }

    .heading2 {
        font-size: 1.4rem;
    }

    .event {
        display: grid;
        grid-template-columns: none;
    }
}