/* <-------------sections -------------> */


.section {
    background-color: #78BE20;
    min-height: 3.5rem;
    display: flex;
    align-items: center;

}

/* <-------------headings -------------> */

.heading {
    text-align: center;
}

.heading2 {
    font-family: 'Open Sans';
    font-size: 35px;
    padding-top: 60px;
}

.headingHr {
    height: 5px;
    background-color: #78BE20;
    /* width: 18rem; */
    width: 23vw;
    margin-top: 0.9rem;
    margin-left: 39vw;

}

/* <------------- events -------------> */

.event-container {
    font-family: "Roboto", sans-serif;
    max-width: 800px;
    margin: 0 auto;

}
/* 
.event-container h3.year {
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid #b1b1b1;
} */

.event-container .event {
    box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
    display: flex;
    border-radius: 8px 0px 8px 0px;
    margin: 32px 0 ;
    list-style-type: none;

}


.event .event-left {
    background: #222;
    max-width: 255px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    padding: 10px 11px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 8px 8px 8px;
}

#more {
    display: none;
}
.event .event-left .event-image{
    max-width: 98%;
    max-height: 88%;
}
.event .event-left .date {
    font-size: 56px;
}

.event .event-left .month {
    font-size: 16px;
    font-weight: normal;
}

.event .event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
}

.event .event-right h3.event-title {
    font-size: 24px;
    margin: 24px 0 10px 0;
    color: #218bbb;
    text-transform: uppercase;
}

.event .event-right .event-timing {
    background: #fff8ba;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    padding: 8px;
    border-radius: 16px;
    margin: 14px 0;
    font-size: 10px;
}

.event .event-right .event-timing img {
    height: 20px;
    padding-right: 8px;
}
.event .event-right .event-description {
    font-size: 12px;
}
@media (max-width : 768px) {
    .headingHr {
        max-width: 8rem;
        margin-top: 0.2rem;
        margin-left: 33%;
        height: 2.5px;
        width: 30vw;
    }

    .heading2 {
        font-size: 1.4rem;
    }
    .event-container .event {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        display: list-item;
    }
    .event .event-left{
        min-height: 250px;
        max-width: max-content;
    }
    .event .event-right .event-description {
        font-size: 6px;
    }

}