.app__footer {
    background-color: #333333;
    padding: 10px;
    padding-inline: 0;
    color: #FFFFFF;
}

.app__footer > ul {
    width: 100%;
    margin: 0;
    margin-inline: auto;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 5px;
}

.app__footer > ul > li {
    font-size: 1rem;
}

.app__navbar-ieeeLinks-verticalDiv {
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    height: 1.5rem;
}

@media screen and (max-width: 900px) {
    .app__footer > ul {
        column-gap: 0.5rem;
    }

    .app__footer > ul > li {
        font-size: 0.75rem;
    }

    .app__navbar-ieeeLinks-verticalDiv {
        height: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .app__footer > ul {
        column-gap: 0.35rem;
    }
}

@media screen and (max-width: 450px) {
    .app__footer > ul > li {
        font-size: 0.6rem;
    }

    .app__navbar-ieeeLinks-verticalDiv {
        height: 0.9rem;
    }
}